@model Assessment5a.Models.Calculator



@{ ViewData["Title"] = "Calculator";
}

<h4>Calculator Form</h4>
<br />

<form action="result">


    @* 2 number inputs with name num1, & num2 *@

    Number1:
    <input type="number" name="num1" />
    <br>
    Number2:
    <input type="number" name="num2" />
    <br>


    @* A set of radio buttons with the name operation & the following values: *@
    Operation:
    <br>

    <input type="radio" name="operation" value="Plus" />
    <label for="Plus">Plus</label>
    <br>

    <input type="radio" name="operation" value="Minus" />
    <label for="Minus">Minus</label>
    <br>

    <input type="radio" name="operation" value="Multiply" />
    <label for="Multiply">Multiply</label>
    <br>

    <input type="radio" name="operation" value="Divide" />
    <label for="Divide">Divide</label>
    <br>

    @* A submit button *@
    <input type="button" value="Submit" />



</form>